main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

custom-player figure ul
{
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px dashed blue;
    height: 50px;
}

custom-player button.play,
custom-player button.pause
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45%;
    height: 100%;
    width:50px;
}

custom-player button.play
{
    background-image: url("../images/svg/play.svg");
}

custom-player button.pause
{
    background-image: url("../images/svg/pause.svg");
}