main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-mvp*="container"]
{

    ul
    {
        background-color: rgba(0, 0, 0, 0.65);
        border: 1px dashed blue;
        height: 50px;
        display: flex;

        li
        {
            display: flex;
        }
    }
    button.play,
    button.pause
    {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 45%;
        height: 100%;
        width:50px;
    }

    button.play
    {
        background-image: url("../../demo/images/svg/play.svg");
    }

    button.pause
    {
        background-image: url("../../demo/images/svg/pause.svg");
    }
    span[data-mvp="time"]
    {
        display: flex;
        height: 100%;
        color: white;
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
    }

    button.mute
    {
        width: 50px;
        height: 100%;
    }

}

[data-mvp*="container"]:not(.muted)
{
    button[data-mvp="mute"]
    {
        opacity: 0.25;
    }
}


[data-mvp*="container"]:not(.playing)::after
{
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 50px);
    background-image: url("../../demo/images/svg/rich_play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}